@use '../utils/variables' as *;
@use '../utils/fonts';

.footer {
	background-color: $background__grey--bg;
	padding: 30px;

	&__wrapper {
		border-top: 2px solid $color__grey--separator;
		padding-top: 30px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
	}

	&__wrapper--items {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__block {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;

		&--address {
			color: $color__main;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
		}

		&--link {
			display: flex;
			align-items: center;
			color: $color__active--regular;
			font-weight: 700;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 15px;
		}
	}

	&__block2 {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;

		&--number {
			display: flex;
			align-items: center;
			color: $color__main;
			font-weight: 700;
			font-size: 16px;
			line-height: 20px;
		}

		&--email {
			display: flex;
			align-items: center;
			color: $color__active--regular;
			font-weight: 700;
			font-size: 16px;
			line-height: 20px;
		}
	}

	&__block3 {
		text-align: center;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: $color__grey--text;
	}

	@media screen and (min-width: 376px) {
		&__block {
			flex-direction: row;

			&--link::before {
				content: "";
				display: inline-block;
				height: 6px;
				width: 6px;
				background-color: $color__grey--text;
				border-radius: 50%;
				margin-right: 10px;
			}
		}

		&__block2 {
			flex-direction: row;

			&--number::before {
				content: "";
				display: inline-block;
				height: 6px;
				width: 6px;
				background-color: $color__grey--text;
				border-radius: 50%;
				margin-right: 10px;
			}

			&--email::before {
				content: "";
				display: inline-block;
				height: 6px;
				width: 6px;
				background-color: $color__grey--text;
				border-radius: 50%;
				margin-right: 10px;
			}
		}
	}

	@media screen and (min-width: 768px) {
		& {
			padding-left: 60px;
			padding-right: 60px;
		}
		
		&__wrapper {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}

	}

	@media screen and (min-width: 1440px) {	
		&__block2--svg:hover path {
			fill: $color__accent;
		}

		&__block2--email:hover {
			color: $color__accent;
		}
	}

	@media screen and (min-width: 1920px) {
		padding-left: 160px;
		padding-right: 160px;
	}
}