@use '../utils/variables' as *;
@use '../utils/fonts';



.shadow {
	background: $background__gradient--supersoft;
	position: relative;
	border-radius: 0px 0px 12px 12px;
	margin-bottom: 30px;


	&::before {
		position: absolute;
		height: 10px;
		bottom: -10px;
		left: 50%;
		width: calc(100% - 40px);
		transform: translateX(-50%);


		border-radius: 0px 0px 12px 12px;
		content: "";
		background-color: #CACADB;
	}

	&::after {
		position: absolute;
		height: 10px;
		bottom: -20px;
		left: 50%;
		width: calc(100% - 80px);
		transform: translateX(-50%);


		border-radius: 0px 0px 12px 12px;
		content: "";
		background-color: #E7E7F2;
	}
}

.header__section {
	height: 100vh;
	position: relative;
	overflow: hidden;


	&::before {
		content: url("data:image/svg+xml,%3Csvg viewBox='0 0 697 799' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_22728_11332)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M245.112 340H432.082C485.793 340 530.618 362.912 558.49 401.63C586.34 440.35 587.199 504.956 570.958 555.498L550.194 620.023C541.522 646.966 500.918 774.384 493 799H391C391 799 392.559 800.366 477.767 535.5C485.29 512.126 489.586 474.185 477.767 457.777C465.968 441.37 446.06 431.66 419.718 431.66H266.886C236.876 431.66 210.283 451.178 200.999 480.005L245.112 340Z' fill='url(%23paint0_linear_22728_11332)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M99.3445 799H-0.369385C84.4982 532.509 170.329 266.331 255.698 0H355.276C354.856 1.33198 354.431 2.6675 353.999 4.00646C215.866 429.03 262.985 285.497 99.3445 799Z' fill='%23F0145A'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_22728_11332' x1='521.823' y1='798.999' x2='268.503' y2='516.696' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F0145A'/%3E%3Cstop offset='1' stop-color='%23693264'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_22728_11332'%3E%3Crect width='697' height='799' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		position: absolute;
		width: 87.23vh;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 0;
	}
}


.header__bg {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background: rgba(245, 245, 250, 0.2);
	margin-bottom: 15px;
	position: relative;
	z-index: 3;

	@media screen and (min-width: 768px) {
		gap: 6px;
		background: none;
		padding-top: 50px;
		padding-left: 67px;
		justify-content: flex-start;
	}

	@media screen and (min-width: 1024px) {
		justify-content: end;
		padding-right: 60px;
		margin-bottom: 0;
	}

	@media screen and (min-width: 1920px) {
		padding-right: 160px;
	}
}

.header__languages {
	display: flex;

	@media screen and (min-width: 768px) {
		display: flex;
		gap: 7px;
		align-items: center;
	}
}

.header__lang {
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	padding: 5px 7px;
	color: white;

	border-radius: 8px;

	&:hover {
		background: rgba(255, 255, 255, 0.2);
	}

	&--active {
		background-color: $color__accent;
	}
}

.header__contacts {
	display: flex;

	@media screen and (min-width: 768px) {
		gap: 7px;
		align-items: center;
	}
}

.header__address {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: $color__grey--text;
	display: none;

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;

		&::before {
			content: "";
			display: inline-block;
			height: 6px;
			width: 6px;
			background-color: white;
			border-radius: 50%;
			margin-right: 6px;
		}

		&::after {
			content: "";
			display: inline-block;
			height: 6px;
			width: 6px;
			background-color: white;
			border-radius: 50%;
			margin-left: 6px;
		}
	}
}

.header__number {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: white;

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;

		&::after {
			content: "";
			display: inline-block;
			height: 6px;
			width: 6px;
			background-color: white;
			border-radius: 50%;
			margin-left: 6px;
		}
	}
}

.header__svg {
	display: none;

	@media screen and (min-width: 768px) {
		display: block;

		&::before {
			content: "";
			display: inline-block;
			height: 6px;
			width: 6px;
			background-color: white;
			border-radius: 50%;
			margin-right: 6px;
		}
	}

	@media screen and (min-width: 1440px) {
		&:hover path {
			fill: $color__accent;
		}
	}
}

.header__menu {
	display: flex;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 10;

	@media screen and (min-width: 768px) {
		padding-left: 60px;
		flex-direction: column;
		gap: 30px;
	}

	@media screen and (min-width: 1024px) {
		flex-direction: row;
	}
}

.header__logo {
	display: block;
	z-index: 5;

	@media screen and (min-width: 1024px) {
		transform: translateY(-40px);
	}

	@media screen and (min-width: 1920px) {
		padding-left: 100px;
	}
}

.l-menu-wrapper {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	display: none;

	&::before {
		content: "";
		position: absolute;
		background: #323264;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
	}
}

.l-menu-container {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: calc(100% - 16px);
	transform: translateX(-50%);

	background: white;
	border-radius: 12px 12px 0px 0px;
}

.c-close {
	display: block;
	margin-left: auto;
	cursor: pointer;
}

#menu-toggle {
	display: none;
}

.burger__svg {
	z-index: 5;
}

@media screen and (min-width: 768px) {
	[for="menu-toggle"] {
		display: none;
	}

	.l-menu-wrapper {
		display: block;
		position: static;

		&::before {
			content: none;
		}
	}

	.l-menu-container {
		position: static;
		background: transparent;
		transform: translateX(0);
	}

	.l-menu {
		display: flex;
		gap: 10px;
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;

		@media screen and (min-width: 1024px) {
			justify-content: end;
			padding-right: 30px;
		}

		@media screen and (min-width: 1440px) {
			&__hover:hover {
				border-bottom: 2px solid white;
			}

			&__hover--active {
				color: $color__accent;
				border-bottom: 2px solid $color__accent;
			}
		}

		@media screen and (min-width: 1920px) {
			padding-right: 130px;
		}
	}

}

#menu-toggle:checked~.l-menu-wrapper {
	display: block;
}

.intro__tittle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 38px;
	font-weight: 700;
	line-height: 46px;
	z-index: 2;

	&--scroll {
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
		outline: none;
		z-index: 3;
	}
}


.experience {
	padding: 30px;
	padding-bottom: 0;
	display: flex;
	flex-flow: row wrap;

	@media screen and (min-width: 768px) {
		padding: 60px;
	}

	@media screen and (min-width: 1024px) {
		flex-direction: column;
	}

	&__list {
		display: flex;
		flex-flow: row nowrap;
		gap: 30px;
		margin-bottom: 30px;

		min-width: calc(100% + 30px);
		overflow-x: auto;

		white-space: nowrap;

		scrollbar-width: none;

		font-weight: 700;
		font-size: 38px;
		line-height: 46px;

		@media screen and (min-width: 768px) {
			margin-bottom: 60px;
			min-width: calc(100% + 60px);
		}

		@media screen and (min-width: 1024px) {
			flex-direction: column;

		}

		&::-webkit-scrollbar {
			display: none;
		}

		&--main {
			color: $color__grey--text;
		}

		&--active {
			background: $background__gradient--redtext-reversed;
			color: transparent;
			background-clip: text;
		}
	}

	&__description {
		padding-top: 30px;
		border-top: 4px solid rgba(255, 255, 255, 0.3);

		@media screen and (min-width: 768px) {
			padding-top: 60px;
		}

		@media screen and (min-width: 1024px) {
			display: flex;

		}

	}

	&__card {
		&--tittle {
			margin-bottom: 30px;
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			color: white;
		}

		&--description {
			font-weight: 400;
			font-size: 19px;
			line-height: 30px;
			color: white;
		}
	}
}

.services {
	padding: 30px;
	padding-bottom: 60px;

	@media screen and (min-width: 768px) {
		padding-left: 60px;
		padding-right: 60px;
	}

	@media screen and (min-width: 1920px) {
		padding-left: 160px;
		padding-right: 160px;
	}

	&__link {
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $color__active--regular;
		margin-bottom: 10px;

		@media screen and (min-width: 1440px) {
			&:hover {
				color: $color__accent;
			}
		}

		&::after {
			content: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1L6 5.5L1.5 10' stroke='%2324A3FF' stroke-width='2'/%3E%3C/svg%3E");
			margin-left: 5px;
			line-height: 0px;
		}

		@media screen and (min-width: 1440px) {
			&:hover::after {
				content: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1L6 5.5L1.5 10' stroke='%23F0145A' stroke-width='2'/%3E%3C/svg%3E");
			}
		}
	}

	&__tittle {
		font-weight: 700;
		font-size: 30px;
		line-height: 37px;
		background: $background__gradient--redtext;
		background-clip: text;
		color: transparent;
		margin-bottom: 30px;
	}

	&__cards {
		display: grid;
		grid-template-columns: 1fr;

		@media screen and (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
			gap: 60px;
		}

		@media screen and (min-width: 1024px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&__description {
		margin-bottom: 30px;
	}
}

.wrapper {
	padding: 14px;
	background-color: white;
	width: 92px;
	height: 92px;
	border-radius: 24px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

.services-card__tittle {
	display: block;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: $color__active--regular;
	margin-bottom: 15px;
}

.services-card__description {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;

}