@font-face {
  font-family: 'Montserrat'; 
  src: url(../../fonts/subset-Montserrat-Bold.woff),
      url(../../fonts/subset-Montserrat-Bold.woff2);

      font-weight: 700;
      font-style: normal;
}

@font-face {
  font-family: 'Montserrat'; 
  src: url(../../fonts/subset-Montserrat-Regular.woff),
      url(../../fonts/subset-Montserrat-Regular.woff2);

      font-weight: 400;
      font-style: normal;
}