
$color__main: #323264;
$color__main--alt: #46466E;
$color__main--soft: #686887;

$color__accent: #F0145A;

$color__active--regular: #24A3FF;
$color__active--hover: #0085FF;
$color__active: #006CCF;

$background__grey--bg: #F5F5FA;
$background__grey--bgalt: #EDEDF7;
$color__grey--text: #B3B3BA;
$color__grey--separator: #E6E6F0;

$background__gradient: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$background__gradient--soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$background__gradient--red: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
$background__gradient--supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$background__gradient--redtext: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);